@page "/admin"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Chart.Bank
@using MainApp.Components.Chart.Expense
@using MainApp.Components.Chart.Transaction
@using MainApp.Components.Message
@using MainApp.Components.Shared

<div class="container-fluid px-0">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <div class="container-lg">
                        <PageTopWrapper>
                            <div class="d-flex align-items-baseline">
                                <i class="bi  bi-grid-3x3-gap text-info-emphasis pe-1 fs-5" /><PageTopTitle Title="Admin" />
                            </div>
                        </PageTopWrapper>
                    </div>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="app-page-background-danger pb-5">
                            <div class="container-lg">
                                <div class="row gy-5">
                                    <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                        <CardView Styles="w-100 border-0">
                                            <CardMiddle>
                                                <div class="d-grid gap-3">
                                                    <NavLink href="@EndPoint.AdminExpenses">
                                                        <div class="btn bg-light-subtle d-flex w-100 align-items-center @("rounded"+_appSettings.Card)">
                                                            <i class="bi bi-cart4 text-info-emphasis fs-5"></i>
                                                            <div class="w-100 text-start ps-3 pe-2">
                                                                <h3 class="mb-1 h5">Expenses</h3>
                                                                <div class="text-secondary pb-2">
                                                                    <small class="text-wrap">Control and visualize your expenses using calendar or list views. <br />See map locations based on your purchases.</small>
                                                                </div>
                                                            </div>
                                                            <div class="text-secondary">
                                                                <i class="bi bi-chevron-right"></i>
                                                            </div>
                                                        </div>
                                                    </NavLink>
                                                    <NavLink href="@EndPoint.AdminTransactions">
                                                        <div class="btn bg-light-subtle d-flex w-100 align-items-center @("rounded"+_appSettings.Card)">
                                                            <i class="bi bi-currency-exchange text-info-emphasis fs-5"></i>
                                                            <div class="w-100 text-start ps-3 pe-2">
                                                                <h3 class="mb-1 h5">Transactions</h3>
                                                                <div class="text-secondary pb-2">
                                                                    <small class="text-wrap">Create records between banks and visualize graphs comparing income & outcomes from previous months.</small>
                                                                </div>
                                                            </div>
                                                            <div class="text-secondary">
                                                                <i class="bi bi-chevron-right"></i>
                                                            </div>
                                                        </div>
                                                    </NavLink>
                                                    <NavLink href="@EndPoint.AdminTimesheet">
                                                        <div class="btn bg-light-subtle d-flex w-100 align-items-center @("rounded"+_appSettings.Card)">
                                                            <i class="bi bi-clock-history text-info-emphasis fs-5"></i>
                                                            <div class="w-100 text-start ps-3 pe-2">
                                                                <h3 class="mb-1 h5">Timesheet</h3>
                                                                <div class="text-secondary pb-2">
                                                                    <small class="text-wrap">Keep records of your timesheets across the companies you work. <br />Use the calculator tool for rates estimate.</small>
                                                                </div>
                                                            </div>
                                                            <div class="text-secondary">
                                                                <i class="bi bi-chevron-right"></i>
                                                            </div>
                                                        </div>
                                                    </NavLink>
                                                    <NavLink href="@EndPoint.AdminTrips">
                                                        <div class="btn bg-light-subtle d-flex w-100 align-items-center @("rounded"+_appSettings.Card)">
                                                            <i class="bi bi-pin-map text-info-emphasis fs-5"></i>
                                                            <div class="w-100 text-start ps-3 pe-2">
                                                                <h3 class="mb-1 h5">Trips</h3>
                                                                <div class="text-secondary pb-2">
                                                                    <small class="text-wrap">Keep track of your trips based on the cars you drive.</small>
                                                                </div>
                                                            </div>
                                                            <div class="text-secondary">
                                                                <i class="bi bi-chevron-right"></i>
                                                            </div>
                                                        </div>
                                                    </NavLink>
                                                </div>
                                            </CardMiddle>
                                        </CardView>
                                    </div>
                                    <div class="col-sm-12 col-md-8 d-flex flex-sm-column flex-md-row justify-content-center">
                                        <CardView Styles="w-100 border-0">
                                            <CardMiddle>
                                                <ChartTransactionIOByMonth ChartType="ChartType.line" />
                                            </CardMiddle>
                                        </CardView>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-lg py-5 app-footer-gap">
                            <div class="row gy-5">
                                <div class="col-sm-12 col-md-6 d-flex flex-sm-column flex-md-row justify-content-center">
                                    <CardView Styles="w-100 border-0">
                                        <CardMiddle>
                                            <h3 class="fs-5">Expenses</h3>
                                            <ChartExpenseLast3Months />
                                        </CardMiddle>
                                    </CardView>
                                </div>
                                <div class="col-sm-12 col-md-6 d-flex flex-sm-column flex-md-row justify-content-center">
                                    <CardView Styles="w-100 border-0">
                                        <CardMiddle>
                                            <h3 class="fs-5">Transactions</h3>
                                            <ChartTransactionLast3Months />
                                        </CardMiddle>
                                    </CardView>
                                </div>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>
                <PageBottomView />
            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
