@using MainApp.Components.Modal
@using MainApp.Components.Toast

<Modal @ref="_modal"
       Size="Size.Md">
    <Title>
        <span class="text-secondary">
            Confirm Action
        </span>
    </Title>
    <Body>
        <EditForm Model="@_expenseModel"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="ModalForm">
            <div class="d-flex justify-content-center text-center">
                <div>
                    <i class="bi bi-exclamation-diamond fs-2 text-danger"></i>
                    <h2 class="fs-5 pb-3">Are you sure you want to archive this record?</h2>
                    <span>This action cannot be undone.</span>
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <div class="row w-100 justify-content-end">
            <div class="col-sm-12 col-md-6 d-flex gap-2 g-0">
                <button type="button"
                        class="btn btn-outline-secondary w-100"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    Cancel
                </button>
                <button class="btn btn-danger w-100"
                        disabled="@(_isProcessing ? true : false)"
                        type="submit"
                        form="ModalForm">
                    @(_isProcessing ? "Archiving..." : "Archive")
                </button>
            </div>
        </div>
    </Footer>
</Modal>
<Toast />
