@using MainApp.Components.Badge
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.Loader
@using MainApp.Components.OffCanvas

<OffCanvas @ref="_offCanvasService.OffCanvas" PositionX="Position.End">
    <div class="row align-items-center">
        <div class="col my-4">
            <Badge BackgroundColor="@_offCanvasService.GetOffCanvasBadge()" Message="@($"{_offCanvasService.GetOffCanvasViewType()}ing {Label.AppMenuAdminExpense}...")" />
        </div>
    </div>
    <div class="row justify-content-between pb-2">
        <div class="col-12">
            <div class="form-floating">
                <input type="text"
                       id="Address"
                       class="@(_formIsInvalid ? "invalid" : "") form-control @("rounded"+_appSettings.Form)"
                       placeholder="@Label.AppAdminExpenseFieldAddress"
                       @bind-value="_locationModel.Address" />
                <label for="Address">@Label.AppAdminExpenseFieldAddress</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-between pb-4">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-primary @("rounded"+_appSettings.Button)"
                    disabled="@(_isProcessing ? true : false)"
                    title="@Label.AppButtonVerifyAddress"
                    @onclick="VerifyAddress">
                @if (_isVerifying)
                {
                    <span>
                        @Label.AppButtonVerifyingAddress
                    </span>
                }
                else
                {
                    <span>
                        <i class="bi bi-check2-circle pe-1"></i>@Label.AppButtonVerifyAddress
                    </span>
                }
            </button>
        </div>
    </div>

    @if (_locationlist.Count > 0)
    {
        <span class="text-secondary fw-semibold">@Label.AppSelectAddress</span>
        <ul class="list-group @("rounded"+_appSettings.Form)">
            @foreach (var (item, index) in _locationlist.Select((value, index) => (value, index)))
            {
                <li class="list-group-item bg-@(Theme.Dark.ToString().ToLower())-subtle">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="@index" id="@index" @onclick="() => SelectAddress(item)">
                    <label class="form-check-label stretched-link" for="@index">
                        <small>
                            @item.Address
                        </small>
                    </label>
                </li>
            }
        </ul>
        <hr />
    }
    <EditForm Model="@_expenseModel"
              OnValidSubmit="@HandleValidSubmitAsync"
              OnInvalidSubmit="@HandleInvalidSubmitAsync"
              autocomplete="off">
        <DataAnnotationsValidator />
        <div class="row pb-4">
            <div class="col-12">
                <div class="form-floating pb-2">
                    <InputDate id="EDate"
                               @attributes="_inputFormAttributes.Control"
                               placeholder="@Label.AppAdminExpenseFieldDate"
                               @bind-Value="_expenseModel.EDate"
                               Type="InputDateType.Date" />
                    <label for="EDate">@Label.AppAdminExpenseFieldDate</label>
                </div>
                <div class="form-floating pb-2">
                    @if (_isLoading)
                    {
                        <Loader />
                    }
                    else
                    {
                        <InputSelect id="BankId"
                                     @attributes="_inputFormAttributes.Select"
                                     @oninput="OnValueChangedBank"
                                     @bind-Value="_expenseModel.BankId">
                            <option value="0">@Label.AppFieldSelect</option>
                            @foreach (var (bank, index) in _activeBanks.Select((value, index) => (value, index)))
                            {
                                <option value="@bank.Id"> @($"{bank.Description} - {bank.CurrentBalance.ToString("C")}") </option>
                            }
                        </InputSelect>
                        <label for="BankId">@Label.AppAdminExpenseFieldFinancialInstitution</label>
                    }
                </div>
                <div class="form-floating pb-2">
                    @if (_isLoading)
                    {
                        <Loader />
                    }
                    else
                    {
                        <InputSelect id="ECategoryId"
                                     @attributes="_inputFormAttributes.Select"
                                     @oninput="OnValueChangedExpenseCategory"
                                     @bind-Value="_expenseModel.ECategoryId">
                            <option value="0">@Label.AppFieldSelect</option>
                            @foreach (var (action, index) in _activeExpenseCategories.Select((value, index) => (value, index)))
                            {
                                <option value="@action.Id"> @($"{action.Description}") </option>
                            }
                        </InputSelect>
                        <label for="ECategoryId">@Label.AppAdminExpenseFieldCategory</label>
                    }
                </div>
                @if (_activeTaxCategories.Count > 0)
                {
                    <div class="form-floating pb-2">
                        @if (_isLoading)
                        {
                            <Loader />
                        }
                        else
                        {
                            <InputSelect id="TaxCategoryId"
                                        @attributes="_inputFormAttributes.Select"
                                        @oninput="OnValueChangedTaxCategory"
                                        @bind-Value="_expenseModel.TaxCategoryId"
                                        title="@Label.AppAdminExpenseFieldTaxMessage">
                                <option value="0">@Label.AppFieldSelect</option>
                                @foreach (var (tax, index) in _activeTaxCategories.Select((value, index) => (value, index)))
                                {
                                    <option value="@tax.Id"> @($"{tax.Description}") </option>
                                }
                            </InputSelect>
                            <label for="TaxCategoryId">
                                @Label.AppAdminExpenseFieldTax
                                <sup><i class="bi bi-info-circle-fill text-info-emphasis"></i></sup>
                            </label>
                        }
                    </div>
                }
                <div class="form-floating pb-2">
                    <InputText id="Comments"
                               @attributes="_inputFormAttributes.Control"
                               placeholder="@Label.AppAdminExpenseFieldComments"
                               @bind-Value="_expenseModel.Comments" />
                    <label for="Comments">@Label.AppAdminExpenseFieldComments</label>
                </div>
                <div class="form-floating">
                    <InputNumber id="Amount"
                                 @attributes="_inputFormAttributes.Control"
                                 min="0"
                                 placeholder="@Label.AppAdminExpenseFieldAmount"
                                 @bind-Value="_expenseModel.Amount" />
                    <label for="Amount">@Label.AppAdminExpenseFieldAmount</label>
                </div>
            </div>
        </div>
        @if (_displayErrorMessages)
        {
            <div class="row">
                <div class="col-12">
                    <ValidationSummary />
                </div>
            </div>
        }

        @if (_formIsInvalid)
        {
            <div class="row">
                <div class="col-12">
                    <ul class="validation-errors">
                        <li class="validation-message">@Label.AppAdminExpenseFieldAddressMessage</li>
                    </ul>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-6">
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary w-100 @("rounded"+_appSettings.Button)"
                        @onclick="() => CloseOffCanvasAsync()">
                    @Label.AppButtonCancel
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-primary w-100 @("rounded"+_appSettings.Button)"
                        disabled="@(_isProcessing ? true : false)"
                        type="submit">
                    @(_isProcessing ? Label.AppButtonSaving : Label.AppButtonSave)
                </button>
            </div>
        </div>
    </EditForm>
</OffCanvas>
