@using MainApp.Components.Badge.Color
@using MainApp.Components.Loader
@using MainApp.Components.Modal

<Modal @ref="_modal"
       Size="Size.Lg"
       IsCloseButtonVisible="false">
    <Title>
        @($"{_dateTimeRange.Start.ToString("dddd, d MMM yyyy")}")
    </Title>
    <Body>
        <div class="row d-flex justify-content-center">
                @if (_isLoading)
                {
                    <Loader />
                }
                else
                {
                <div class="col-12">
                    @if (_imageURL.Length > 0)
                    {
                        <img src="@_imageURL" class="img-fluid rounded" />
                    }
                    else
                    {
                        <div class="text-center w-100 p-5 bg-@Theme.Light.ToString().ToLower()-subtle rounded">
                            <i class="bi bi-card-image fs-2 text-@(Theme.Danger.ToString().ToLower())-emphasis"></i>
                            <div>
                                @Label.AppNoImageAvailable
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12">
                    <div class="table-responsive w-100">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-3">
                                        @Label.AppAdminExpenseFieldCategory
                                    </th>
                                    <th class="col-2">
                                        @Label.AppAdminExpenseFieldAddress
                                    </th>
                                    <th class="col-3">
                                        @Label.AppAdminExpenseFieldFinancialInstitution
                                    </th>
                                    <th class="col-2">
                                        @Label.AppAdminExpenseFieldComments
                                    </th>
                                    <th class="col-2 text-end">
                                        @Label.AppAdminExpenseFieldAmount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_expenseList.Count <= 0)
                                {
                                    <tr class="bg-light-subtle">
                                        <td class="text-center" colspan="5">
                                            <div>
                                                @Label.AppNoRecordFound
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var record in _expenseList)
                                    {
                                        <tr class="bg-light-subtle">
                                            <td>
                                                <BadgeColor RGBColor="@record.ECategoryColor"
                                                            Description="@record.ECategoryDescription" />
                                            </td>
                                            <td>
                                                @record.Address
                                            </td>
                                            <td>
                                                @record.BankDescription
                                            </td>
                                            <td>
                                                @record.Comments
                                            </td>
                                            <td class="text-end">
                                                @record.Amount.ToString("C")
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
        </div>
    </Body>
    <Footer>
        <div class="row d-flex w-100 justify-content-between">
            <div class="col-auto">
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-@(Theme.Secondary.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                        @onclick="AddRecordAsync">
                    <i class="bi bi-plus-lg pe-1"></i>@Label.AppAdminExpenseButtonNew
                </button>
            </div>
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-@(Theme.Secondary.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="CloseModalAsync">
                    @Label.AppButtonClose
                </button>
            </div>
        </div>
    </Footer>
</Modal>
