@using MainApp.Components.Card
@using MainApp.Components.Dropdown
@using MainApp.Components.Toast
@using MainApp.Components.Spinner
@using MainApp.Components.Badge
@using MainApp.Components.Accordion

<CardView Styles="border-0">
    <CardMiddle>
        <div class="row justify-content-between pb-2">
            <div class="col-10 col-lg-8 pb-2 d-flex">
                <div>
                    <DropdownDateRange IconColor="Theme.Primary"
                                       ButtonColor="Theme.Primary"
                                       ButtonSize="Size.Md"
                                       DateTimeRange="@_dateTimeRange"
                                       OnSubmitSuccess="RefreshListFromDropdownDateRange" />

                </div>
            </div>
            <div class="col-2 col-lg-4 d-flex justify-content-end pb-2">
                <div class="d-none d-lg-block">
                    <button class="btn btn-md bg-primary-subtle text-primary-emphasis"
                            @onclick="() => AddRecordAsync()">
                        <i class="bi bi-plus-lg pe-1"></i>New expense
                    </button>
                </div>
                <div class="d-block d-lg-none">
                    <DropdownActions ButtonColor="Theme.Primary"
                                     DropdownPosition="Position.End">
                        <li class="px-2 d-block d-lg-none">
                            <button class="dropdown-item text-@(Theme.Primary.ToString().ToLower())-emphasis"
                                    @onclick="() => AddRecordAsync()">
                                <i class="bi bi-plus-lg pe-1"></i>New expense
                            </button>
                        </li>
                    </DropdownActions>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="app-page-responsive-height">
                    @if (_isLoading)
                    {
                        <div class="d-flex justify-content-center align-items-center">
                            <Spinner Size="Size.Sm" />
                            <span class="ps-2">
                                Loading ...
                            </span>
                        </div>
                    }
                    else
                    {

                        @if (_expensesByGroup.Count <= 0)
                        {
                            <div class="text-center">
                                Not record found!
                            </div>
                        }
                        else
                        {
                            <Accordion Id="Expenses">
                                @foreach (var (record, index) in _expensesByGroup.Select((value, index) => (value, index)))
                                {
                                    <AccordionItem>
                                        <AccordionHeader Id="@index.ToString()">
                                            <div>
                                                @record.Description
                                            </div>
                                            <div>
                                                @record.Total.ToString("C")
                                            </div>
                                        </AccordionHeader>
                                        <AccordionBody Id="@index.ToString()">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead class="app-table-head-vertical-align-top">
                                                        <tr>
                                                            <th class="col-2">
                                                                Date
                                                            </th>
                                                            <th class="col-3">
                                                                Debit from
                                                            </th>
                                                            <th class="col-5">
                                                                Comments
                                                            </th>
                                                            <th class="col-2 text-end">
                                                                Amount
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (_expensesByGroup.Count <= 0)
                                                        {
                                                            <tr class="bg-light-subtle">
                                                                <td class="text-center" colspan="5">
                                                                    <div>
                                                                        Not record found!
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var record in _expensesByGroup[index].Expenses)
                                                            {
                                                                <tr class="bg-light-subtle">
                                                                    <td>
                                                                        @record.EDate.ToString("dd/MM/yy")
                                                                    </td>
                                                                    <td>
                                                                        @record.BankDescription
                                                                    </td>
                                                                    <td>
                                                                        @record.Comments
                                                                    </td>
                                                                    <td class="text-end">
                                                                        @record.Amount.ToString("C")
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn btn-link p-0 text-danger"
                                                                                type="button"
                                                                                title="Archive"
                                                                                @onclick="() => ArchiveRecordAsync(record)">
                                                                            <i class="bi bi-archive"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </AccordionBody>
                                    </AccordionItem>
                                }
                            </Accordion>
                        }
                    }
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
<AdminExpenseOffCanvas @ref="_setupOffCanvas" OnSubmitSuccess="RefreshList" />
<AdminExpenseModal @ref="_setupModal" OnSubmitSuccess="RefreshList" />
<Toast />
