@using MainApp.Components.Dropdown.DateRange
@using MainApp.Components.Loader
@using MainApp.Components.Shared

<SharedHeader Title="In & Out"
              Icon="@_chartIcon"
              IconColor="Theme.Info" />

@if (_isLoading)
{
    <Loader />
}
else
{
    <div class="row text-center align-items-center">
        <div class="col-auto">
            <DropdownDateRange ButtonSize="Size.Sm"
                               DateTimeRange="@_dateTimeRange"
                               DropdownLabel="@_dropdownLabel"
                               PeriodRange="PeriodRange.Year"
                               OnSubmitSuccess="data => DropdownDateRangeRefresh(data)" />
        </div>
    </div>

    <Chart Id="TransactionIOByMonth"
           Type="@ChartType"
           Data="@(_chartConfigData)"
           OnSubmitSuccess="data => SetChartObjectReference(data)" />
}
