@using MainApp.Components.Badge
@using MainApp.Components.Modal
@using MainApp.Components.Dropdown.MultiSelect

<Modal @ref="_modal"
       Size="Size.Lg"
       ModalBodyStyle="vh-100"
       IsCloseButtonVisible="false">
    <Title>
        <span class="text-secondary">
            Apply filters
        </span>
    </Title>
    <Body>
        <div class="d-flex">
            <div class="d-flex bg-@(Theme.Dark.ToString().ToLower())-subtle @("rounded"+_appSettings.Button) me-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.FilterByCompany"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-building">
                    @foreach (var (company, index) in _companies.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1">
                            <div class="form-check">
                                <input class="form-check-input"
                                        type="checkbox"
                                        checked="@company.IsChecked"
                                        id="@($"company{company.Id}")"
                                        value="@(company.Id)"
                                        @onchange="(e) => OnCheckboxChangedCompany(e, company.Id)" />
                                <label class="form-check-label" for="@($"company{company.Id}")" title="@company.Description">
                                    @($"{company.Description.Truncate((int)Truncate.Company)}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
                @if (_multiFilterTimesheetDTO.CompanyId.Count > 0)
                {
                    <div class="d-flex align-items-center">
                        <button class="btn btn-@(Size.Sm.ToString().ToLower()) text-@(Theme.Dark.ToString().ToLower())-emphasis"
                                title="Clear filter"
                                @onclick="RemoveDropdownFilterCompany">
                                <Badge BackgroundColor="@Theme.Light" Message="Clear Filter" />
                        </button>
                    </div>
                }
            </div>
            <div class="d-flex bg-@(Theme.Dark.ToString().ToLower())-subtle @("rounded"+_appSettings.Button) me-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.Status"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-building">
                    @foreach (var (status, index) in _statuses.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1">
                            <div class="form-check">
                                <input class="form-check-input"
                                        type="checkbox"
                                        checked="@status.IsChecked"
                                        id="@($"status{status.Id}")"
                                        value="@(status.Id)"
                                        @onchange="(e) => OnCheckboxChangedStatus(e, status.Id)" />
                                <label class="form-check-label" for="@($"status{status.Id}")" title="@status.Description">
                                    @($"{status.Description}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
                @if (_multiFilterTimesheetDTO.StatusId.Count > 0)
                {
                    <div class="d-flex align-items-center">
                        <button class="btn btn-@(Size.Sm.ToString().ToLower()) text-@(Theme.Dark.ToString().ToLower())-emphasis"
                                title="Clear filter"
                                @onclick="RemoveDropdownFilterStatus">
                                <Badge BackgroundColor="@Theme.Light" Message="Clear Filter" />
                        </button>
                    </div>
                }
            </div>
        </div>
    </Body>
    <Footer>
        <div class="row">
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    Close
                </button>
            </div>
        </div>
    </Footer>
</Modal>
