@using MainApp.Components.Badge
@using MainApp.Components.Modal
@using MainApp.Components.Dropdown.MultiSelect

<Modal @ref="_modal"
       Size="Size.Lg"
       ModalBodyStyle="vh-100"
       IsCloseButtonVisible="false">
    <Title>
        @Label.AppApplyFilter
    </Title>
    <Body>
        <div class="row">
            <div class="col-sm-12 col-lg-6 pb-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.AppFilterByCompany"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-building">
                    <!-- Search Input -->
                    <li class="px-2 py-1">
                        <input type="text"
                                class="form-control @("rounded"+_appSettings.Form)"
                                placeholder="@Label.AppFieldSearch"
                                @bind-Value="_searchQueryCompany"
                                @bind-Value:event="oninput" />
                    </li>
                    <!-- Select All Checkbox -->
                    <li class="px-2 py-1 dropdown-item rounded">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="select-all-company" @onchange="ToggleSelectAllCompany" />
                            <label class="form-check-label" for="select-all-company">
                                <strong>
                                    @Label.AppSelectAll
                                </strong>
                            </label>
                        </div>
                    </li>
                    @foreach (var (company, index) in _filteredCompanies.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1 dropdown-item rounded">
                            <div class="form-check">
                                <input class="form-check-input"
                                        type="checkbox"
                                        checked="@company.IsChecked"
                                        id="@($"company{company.Id}")"
                                        value="@(company.Id)"
                                        @onchange="(e) => OnCheckboxChangedCompany(e, company.Id)" />
                                <label class="form-check-label" for="@($"company{company.Id}")" title="@company.Description">
                                    @($"{company.Description.Truncate((int)Truncate.Company)}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
            </div>
            <div class="col-sm-12 col-lg-6 pb-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.AppFilterStatus"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-flag">
                    @foreach (var (status, index) in _statuses.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1 dropdown-item rounded">
                            <div class="form-check">
                                <input class="form-check-input"
                                        type="checkbox"
                                        checked="@status.IsChecked"
                                        id="@($"status{status.Id}")"
                                        value="@(status.Id)"
                                        @onchange="(e) => OnCheckboxChangedStatus(e, status.Id)" />
                                <label class="form-check-label" for="@($"status{status.Id}")" title="@status.Description">
                                    @($"{status.Description}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
            </div>
        </div>
    </Body>
    <Footer>
        <div class="row">
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    @Label.AppButtonClose
                </button>
            </div>
        </div>
    </Footer>
</Modal>
