@using MainApp.Components.Badge.Color
@using MainApp.Components.Dropdown.MultiSelect
@using MainApp.Components.Loader
@using MainApp.Components.Modal

<Modal @ref="_modal"
       Size="Size.Sm"
       IsCloseButtonVisible="false">
    <Title>
        <span class="text-secondary">
            @($"{_shiftModel.SDate.ToString("dddd, d MMM yyyy")}")
        </span>
    </Title>
    <Body>
        <EditForm Model="@_shiftModel"
                OnValidSubmit="@HandleValidSubmitAsync"
                OnInvalidSubmit="@HandleInvalidSubmitAsync"
                autocomplete="off">
            <DataAnnotationsValidator />
            <div class="row pb-2">
                <div class="col-12 d-flex justify-content-center">
                        @if (_isLoadingShift)
                        {
                            <Loader />
                        }
                        else
                        {
                            <DropdownMultiSelect ButtonSize="Size.Sm"
                                            ButtonColor="Theme.Info"
                                            DropdownLabel="@Label.ShiftToday"
                                            DropdownPosition="Position.Start"
                                            IconEnd="bi-chevron-down"
                                            IconStart="bi-calendar-check">
                                @foreach (var (shift, index) in _activeShifts.Select((value, index) => (value, index)))
                                {
                                    <li class="px-2 py-1 d-flex w-100 justify-content-between align-items-center text-nowrap">
                                        @($"{shift.Description}")
                                        <a role="button" 
                                            class="btn btn-link btn-@(Size.Sm.ToString().ToLower()) text-@(Theme.Danger.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                                            title="Remove"
                                            @onclick="() => ArchiveRecord(ConverteModelAsync(shift))">
                                            <i class="bi bi-archive"></i>
                                        </a>
                                    </li>
                                }
                            </DropdownMultiSelect>
                        }
                </div>
            </div>
            <hr />
            <div class="row pb-2">
                <div class="col-12">
                    <div class="form-floating pb-2">
                        <InputDate id="SDate"
                                @attributes="_inputFormControlAttributes"
                                placeholder="Date"
                                @bind-Value="_shiftModel.SDate"
                                Type="InputDateType.Date" />
                        <label for="SDate">Date</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating pb-2">
                        @if (_isLoading)
                        {
                            <Loader />
                        }
                        else
                        {
                            <InputSelect id="CompanyId"
                                            @attributes="_inputFormSelectAttributes"
                                            @bind-Value="_shiftModel.CompanyId">
                                <option value="0">-- Select Company --</option>
                                @foreach (var (company, index) in _activeCompanies.Select((value, index) => (value, index)))
                                {
                                    <option value="@company.Id"> @($"{company.Description}") </option>
                                }
                            </InputSelect>
                            <label for="CompanyId">Company</label>
                        }
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-control @("rounded"+_appSettings.Form)">
                        <label class="app-form-floating-label">Availability status</label>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="IsAvailable">@(_shiftModel.IsAvailable is true ? "Available" : "Unavailable")</label>
                            <InputCheckbox class="form-check-input"
                                        type="checkbox"
                                        role="switch"
                                        id="IsAvailable"
                                        @bind-Value="_shiftModel.IsAvailable" />
                        </div>

                    </div>
                </div>
            </div>
            @if (_displayErrorMessages)
            {
                <div class="row">
                    <div class="col-12">
                        <ValidationSummary />
                    </div>
                </div>
            }
            <div class="row justify-content-between">
                <div class="col-6">
                    <button type="button"
                            class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-@(Theme.Secondary.ToString().ToLower()) w-100 @("rounded"+_appSettings.Button)"
                            data-dismiss="modal"
                            @onclick="CloseModalAsync">
                        Close
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-@(Theme.Primary.ToString().ToLower()) w-100 @("rounded"+_appSettings.Button)"
                            disabled="@(_isProcessing ? true : false)"
                            type="submit">
                        <i class="bi bi-calendar4-week pe-1"></i>
                        @(_isProcessing ? "Saving..." : "Save shift")
                    </button>
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
    </Footer>
</Modal>
