<div class="btn-group btn-outline-@(ButtonColor.ToString().ToLower()) border border-@(Theme.Light.ToString().ToLower())-subtle @("rounded"+_appSettings.Button) @("shadow"+_appSettings.Shadow)" role="group">
    <div class="dropdown @(IsDisplayLargeNone ? "d-lg-none" : "") ">
        <button class="btn @("btn-" + ButtonSize.ToString().ToLower()) @("btn-outline-" + ButtonColor.ToString().ToLower() ) border-0 text-nowrap @("rounded"+_appSettings.Button)"
                title="Change date range"
                id="dropdownDateRange"
                data-bs-toggle="dropdown"
                data-bs-auto-close="inside"
                aria-expanded="false">
            <i class="bi bi-calendar3"></i>
            <span class="pe-1">@DropdownLabel</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-@DropdownPosition.ToString().ToLower() border-@Theme.Light.ToString().ToLower()-subtle bg-@Theme.Light.ToString().ToLower()-subtle @("shadow"+_appSettings.Shadow) ps-2"
            aria-labelledby="dropdownDateRange">

            <li class="d-flex pe-2 gap-2">
                <input class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Form)"
                       id="Start"
                       type="date"
                       placeholder="Start date"
                       @bind-value="DateTimeRange.Start" />

                <input class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Form)"
                       id="End"
                       type="date"
                       placeholder="End date"
                       @bind-value="DateTimeRange.End" />
                <button type="submit"
                        class="btn btn-primary btn-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                        title="Confirm"
                        @onclick="ChangeDateAsync">
                    <i class="bi bi-check-lg"></i>
                </button>
            </li>
            @if (!_isValidDateRange)
            {
                <li class="d-flex px-2 gap-2">
                    <span class="validation-message">
                        Invalid date range, please check!
                    </span>
                </li>
            }
        </ul>
    </div>
    @if (_isDateChanged)
    {
        <div class="d-flex align-items-center">
            <div class="vr my-1 text-@(ButtonColor.ToString().ToLower())-emphasis"></div>
            <a class="btn btn-outline-@(Theme.Light.ToString().ToLower()) btn-@(Size.Sm.ToString().ToLower()) border-0 rounded-5"
                    title="@Label.AppButtonRemove"
                    @onclick="ResetDateTimeRange">
                <i class="bi bi-x-lg text-@(Theme.Secondary.ToString().ToLower())"></i>
            </a>
        </div>
    }
</div>
