<div class="btn-group bg-@(ButtonColor.ToString().ToLower())-subtle @("rounded"+_appSettings.Button)" role="group">
    <div class="dropdown @(IsDisplayLargeNone ? "d-lg-none" : "") ">
        <button class="btn @("btn-" + ButtonSize.ToString().ToLower()) @("bg-" + ButtonColor.ToString().ToLower() + "-subtle") @("text-" + Theme.Dark.ToString().ToLower() + "-emphasis") text-nowrap @("rounded"+_appSettings.Button)"
                title="Change date range"
                id="dropdownDateRange"
                data-bs-toggle="dropdown"
                data-bs-auto-close="inside"
                aria-expanded="false">
            <i class="bi bi-calendar3 text-@IconColor.ToString().ToLower()-emphasis"></i>
            @DropdownLabel
            <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-@DropdownPosition.ToString().ToLower() border-@Theme.Dark.ToString().ToLower()-subtle bg-@Theme.Dark.ToString().ToLower()-subtle shadow-sm ps-2"
            aria-labelledby="dropdownDateRange">

            <li class="d-flex pe-2 gap-2">
                <input class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                       id="Start"
                       type="date"
                       placeholder="Start date"
                       @bind-value="DateTimeRange.Start" />

                <input class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                       id="End"
                       type="date"
                       placeholder="End date"
                       @bind-value="DateTimeRange.End" />
                <button type="submit"
                        class="btn btn-primary btn-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                        title="Confirm"
                        @onclick="ChangeDateAsync">
                    <i class="bi bi-check-lg"></i>
                </button>
            </li>
            @if (!_isValidDateRange)
            {
                <li class="d-flex px-2 gap-2">
                    <span class="validation-message">
                        Invalid date range, please check!
                    </span>
                </li>
            }
        </ul>
    </div>
    @if (_isDateChanged)
    {
        <div class="d-flex align-items-center">
            <div class="vr my-1 text-@(ButtonColor.ToString().ToLower())-emphasis"></div>
            <button class="btn btn-@(Size.Sm.ToString().ToLower())"
                    title="Remove"
                    @onclick="ResetDateTimeRange">
                <i class="bi bi-x-circle text-@(Theme.Dark.ToString().ToLower())-emphasis"></i>
            </button>
        </div>
    }
</div>
