@using MainApp.Components.OffCanvas
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.Badge

<OffCanvas @ref="_offCanvasService.OffCanvas" PositionX="Position.End">
    <EditForm Model="@_companyModel"
              OnValidSubmit="@HandleValidSubmitAsync"
              OnInvalidSubmit="@HandleInvalidSubmitAsync"
              autocomplete="off">
        <ObjectGraphDataAnnotationsValidator />
        <div class="row align-items-center">
            <div class="col my-4">
                <Badge BackgroundColor="@_offCanvasService.GetOffCanvasBadge()" Message="@($"{_offCanvasService.GetOffCanvasViewType()}ing {Label.AppMenuSetupCompany}...")" />
            </div>
            @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                 _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
            {
                <div class="col my-4 d-flex justify-content-end">
                    <DropdownActions ButtonColor="Theme.Danger">
                        <li class="px-2">
                            <button class="dropdown-item rounded text-@(Theme.Danger.ToString().ToLower())-emphasis"
                                    @onclick="ArchiveAsync">
                                <i class="bi bi-archive pe-1"></i>@Label.AppButtonArchive
                            </button>
                        </li>
                    </DropdownActions>
                </div>
            }
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <div class="form-floating pb-2">
                    <InputText @attributes="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                        _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? _inputFormAttributes.PlainText : _inputFormAttributes.Control)"
                               id="CompanyDescription"
                               placeholder="@Label.AppSetupCompanyFieldDescription"
                               readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                           _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? true: false)"
                               @bind-Value="_companyModel.Description" />
                    <label for="CompanyDescription">@Label.AppSetupCompanyFieldDescription</label>
                </div>
                <div class="form-floating pb-2">
                    <InputText @attributes="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                        _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? _inputFormAttributes.PlainText : _inputFormAttributes.Control)"
                               id="CompanyPosition"
                               placeholder="@Label.AppSetupCompanyFieldPosition"
                               readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                           _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? true: false)"
                               @bind-Value="_companyModel.Position" />
                    <label for="CompanyPosition">@Label.AppSetupCompanyFieldPosition</label>
                </div>
                <div class="form-floating pb-2">
                    <InputNumber @attributes="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                          _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? _inputFormAttributes.PlainText : _inputFormAttributes.Control)"
                                 id="CompanyStandardHours"
                                 min="1"
                                 max="12"
                                 placeholder="@Label.AppSetupCompanyFieldStandardHours"
                                 readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                          _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive)? true: false)"
                                 @bind-Value="_companyModel.StandardHours" />
                    <label for="CompanyStandardHours">@Label.AppSetupCompanyFieldStandardHours</label>
                </div>
                <div class="form-floating pb-2">
                    <InputNumber @attributes="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                          _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? _inputFormAttributes.PlainText : _inputFormAttributes.Control)"
                                 id="CompanyRate"
                                 min="0.00"
                                 placeholder="@Label.AppSetupCompanyFieldRate"
                                 readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                          _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive)? true: false)"
                                 @bind-Value="_companyModel.Rate" />
                    <label for="CompanyRate">@Label.AppSetupCompanyFieldRate</label>
                </div>
                <div class="form-floating pb-2">
                    <InputSelect @attributes="_inputFormAttributes.Select"
                                 id="CompanyCType"
                                 disabled="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                             _offCanvasService.GetOffCanvasViewType()== OffCanvasViewType.Archive) ? true: false)"
                                 @bind-Value="_companyModel.CType">
                        <option value="0">@Label.AppFieldSelect</option>
                        @foreach (var (cType, index) in _companyTypes.Select((value, index) => (value, index)))
                        {
                            int companyTypeValue = index + 1;
                            <option value="@companyTypeValue"> @($"{cType}") </option>
                        }
                    </InputSelect>
                    <label for="CompanyCType">@Label.AppSetupCompanyFieldCompanyType</label>
                </div>
            </div>
        </div>
        @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
        {
            <div class="row pb-4">
                <div class="col-12 d-flex align-items-start">
                    <div class="form-check form-switch form-check-reverse">
                        <label class="form-check-label" for="IsActive">@Label.AppButtonActive</label>
                        <InputCheckbox class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       id="IsActive"
                                       @bind-Value="_companyModel.IsActive" />
                    </div>
                </div>
            </div>
        }
        @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Add || _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
        {
            @if (_displayErrorMessages)
            {
                <div class="row">
                    <div class="col-12">
                        <ValidationSummary />
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-6">
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary w-100 @("rounded"+AppSettings.Button)"
                        @onclick="() => CloseOffCanvasAsync()">
                    @Label.AppButtonCancel
                </button>
            </div>
            @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Add || _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
            {
                <div class="col-6">
                    <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-primary w-100 @("rounded"+AppSettings.Button)"
                            disabled="@(_isProcessing ? true : false)"
                            type="submit">
                        @(_isProcessing ? @Label.AppButtonSaving : @Label.AppButtonSave)
                    </button>
                </div>
            }
            else if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View)
            {
                <div class="col-6">
                    <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-primary w-100 @("rounded"+AppSettings.Button)"
                            type="button"
                            @onclick="UpdateFormStateAsync">
                        @Label.AppButtonEdit
                    </button>
                </div>
            }
        </div>
    </EditForm>
</OffCanvas>
