@using MainApp.Components.Card
@using MainApp.Components.Shared

<CardView Styles="@($"w-100 border-0 bg-{Theme.Light.ToString().ToLower()}-subtle")">
    <CardMiddle>
        <SharedHeader Title="@Label.AppComponentIRTitle"
                        Icon="bi-calculator"
                        IconColor="Theme.Dark" />
        <EditForm Model="@_investmentReturnModel"
                    autocomplete="off">
            <div class="row py-3">
                <div class="col-12 col-lg-6">
                    <div id="carouselCaptions" class="carousel slide d-none d-md-block">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active bg-@Theme.Dark.ToString().ToLower()"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" class="bg-@Theme.Dark.ToString().ToLower()"
                                aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <svg class="d-block w-100 rounded"
                                        width="800"
                                        height="320"
                                        xmlns="http://www.w3.org/2000/svg"
                                        role="img"
                                        aria-label="@Label.AppComponentIRAnnualizedTitle"
                                        preserveAspectRatio="xMidYMid slice"
                                        focusable="false">
                                    <title>@Label.AppComponentIRAnnualizedTitle</title>
                                    <rect width="100%" height="100%" fill="@(BackgroundColor.Gray)"></rect>
                                </svg>

                                <div class="carousel-caption d-none d-md-block text-@Theme.Dark.ToString().ToLower()">
                                    <h5>@Label.AppComponentIRAnnualizedTitle</h5>
                                    <p>
                                        @Label.AppComponentIRAnnualizedParagraph
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <svg class="d-block w-100 rounded"
                                        width="800"
                                        height="320"
                                        xmlns="http://www.w3.org/2000/svg"
                                        role="img"
                                        aria-label="@Label.AppComponentIRSimpleTitle"
                                        preserveAspectRatio="xMidYMid slice"
                                        focusable="false">
                                    <title>@Label.AppComponentIRSimpleTitle</title>
                                    <rect width="100%" height="100%" fill="@(BackgroundColor.Gray)"></rect>
                                </svg>

                                <div class="carousel-caption d-none d-md-block text-@Theme.Dark.ToString().ToLower()">
                                    <h5>@Label.AppComponentIRSimpleTitle</h5>
                                    <p>
                                        @Label.AppComponentIRSimpleParagraph
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-floating pb-1">
                        <InputSelect id="ReturnType"
                                        @attributes="InputFormAttributes.Control"
                                        @bind-Value="_investmentReturnModel.IRType">
                            <option value="0">@Label.AppFieldSelect</option>
                            @foreach (var (iType, index) in _investmentReturnTypes.Select((value, index) => (value, index)))
                            {
                                int investmentTypeValue = index + 1;
                                <option value="@investmentTypeValue"> @($"{iType}") </option>
                            }
                        </InputSelect>
                        <label for="ReturnType">@Label.AppComponentIRPercentageType</label>
                    </div>
                    <div class="form-floating pb-1">
                        <InputNumber id="Period"
                                        placeholder="@Label.AppComponentIRPeriodYears"
                                        disabled="@(_investmentReturnModel.IRType == (int)InvestmentReturn.Simple)"
                                        @attributes="InputFormAttributes.Control"
                                        @bind-Value="_investmentReturnModel.Period" />
                        <label for="Period">@Label.AppComponentIRPeriodYears</label>
                    </div>
                    <div class="form-floating pb-1">
                        <InputNumber id="PersonalContribution"
                                        placeholder="@Label.AppComponentIRPersonalContributions"
                                        min="0"
                                        @attributes="InputFormAttributes.Control"
                                        @bind-Value="_investmentReturnModel.PersonalContribution" />
                        <label for="PersonalContribution">@Label.AppComponentIRPersonalContributions</label>
                    </div>
                    <div class="form-floating pb-1">
                        <InputNumber id="FinalAmount"
                                        placeholder="@Label.AppComponentIRFinalAmount"
                                        min="0"
                                        @attributes="InputFormAttributes.Control"
                                        @bind-Value="_investmentReturnModel.FinalAmount" />
                        <label for="FinalAmount">@Label.AppComponentIRFinalAmount</label>
                    </div>
                    <div class="d-flex justify-content-center align-items-center bg-@Theme.Light.ToString().ToLower()-subtle @("rounded"+_appSettings.Card)">
                        <span class="display-3 text-@Theme.Info.ToString().ToLower()">@_investmentReturnModel.Percentage.ToString("0.00")</span>
                        <span class="display-5 text-@Theme.Info.ToString().ToLower() text-opacity-50">%</span>
                    </div>
                </div>
            </div>
        </EditForm>
    </CardMiddle>
</CardView>
