@using MainApp.Components.Card
@using MainApp.Components.Shared

<CardView Styles="@($"w-100 border-0 bg-{Theme.Light.ToString().ToLower()}-subtle")">
    <CardMiddle>
        <SharedHeader Title="@Label.AppComponentLVRTitle"
                        Icon="bi-calculator"
                        IconColor="Theme.Dark" />
        <EditForm Model="@_lvrModel"
                    autocomplete="off">
            <div class="row py-3">
                <div class="col-12">
                    <div class="form-floating pb-1">
                        <InputNumber id="LoanAmount"
                                    placeholder="@Label.AppComponentLVRLoanAmount"
                                    @attributes="InputFormAttributes.Control"
                                    @bind-Value="_lvrModel.LoanAmount" />
                        <label for="LoanAmount">@Label.AppComponentLVRLoanAmount</label>
                    </div>
                    <div class="form-floating pb-2">
                        <InputNumber id="PropertyValue"
                                    placeholder="@Label.AppComponentLVRPropertyValue"
                                    @attributes="InputFormAttributes.Control"
                                    @bind-Value="_lvrModel.PropertyValue" />
                        <label for="PropertyValue">@Label.AppComponentLVRPropertyValue</label>
                    </div>
                </div>
            </div>
        </EditForm>
        <div class="row">
            <div class="col-12 opacity-75">
                <div class="form-control form-control-sm text-dark-emphasis p-2 border-0">
                    <div>
                        @Label.AppComponentLVR<sup>*</sup>: <span class="fw-semibold">@_lvrModel.Percentage.ToString("0.00") %</span>
                    </div>
                    <hr/>
                    <small>
                        @Label.AppComponentLVRParagraph
                    </small>
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
