@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Spinner

<div class="row justify-content-between">
    <div class="col-auto">
        <div class="text-uppercase">
            All Accounts
            <sup>
                <Badge BackgroundColor="@Theme.Success" Message="New" />
            </sup>
        </div>
    </div>
    <div class="col-auto">
        <i class="bi bi-graph-up display-6 text-info"></i>
    </div>
</div>
@if (_isLoading)
{
    <div class="d-flex justify-content-center h-100">
        <div class="d-flex align-items-center">
            <Spinner Size="Size.Sm" />
            <span class="ps-1">
                Loading ...
            </span>
        </div>
    </div>
}
else
{
    <Chart Id="BankBalanceSum"
           Type="ChartType.Line"
           Title="Balances"
           Data="@(_chartData)"
           BackgroundColor="@(_chartBackgroundColors)"
           BorderColor="@(_chartBorderColors)"
           Labels="@(_chartLabels)"
           OnSubmitSuccess="SetChartObjectReference" />
}
