@using MainApp.Components.Modal

<Modal @ref="_modal"
       Size="Size.Md">
    <Title>
        @Label.AppHeadsUp
    </Title>
    <Body>
        <EditForm Model="@_transactionModel"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="ModalForm">
            <div class="d-flex justify-content-center text-center">
                <div>
                    <i class="bi bi-info-circle-fill fs-2 text-@(Theme.Danger.ToString().ToLower())"></i>
                    <h3 class="fs-5 pb-3">
                        @Label.AppConfirmAction
                    </h3>
                    <p class="pb-3">@Label.AppAdminTransactionInfoMessage3</p>
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <div class="row w-100 justify-content-end">
            <div class="col-sm-12 col-md-8 d-flex gap-2 g-0">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary w-100 @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    @Label.AppButtonCancel
                </button>
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-danger w-100 @("rounded"+_appSettings.Button)"
                        disabled="@(_isProcessing ? true : false)"
                        type="submit"
                        form="ModalForm">
                    @(_isProcessing ? Label.AppButtonArchiving : Label.AppButtonArchiveConfirmation)
                </button>
            </div>
        </div>
    </Footer>
</Modal>
