@using MainApp.Components.Modal

<Modal @ref="_modal"
       Size="Size.Md">
    <Title>
        <span class="text-secondary">
            @Label.AppHeadsUp
        </span>
    </Title>
    <Body>
        <div class="d-flex justify-content-center text-center">
            <div>
                <i class="bi bi-info-circle-fill fs-2 text-@(Theme.Warning.ToString().ToLower())"></i>
                <h3 class="fs-5 pb-3">@Label.AppAdminTransactionInfoMessage1</h3>
                <p  class="pb-3">@Label.AppAdminTransactionInfoMessage2 <a href="@EndPoint.AdminExpenses">@Label.AppMenuAdminExpense</a>.</p>
            </div>
        </div>
    </Body>
    <Footer>
        <div class="row">
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    @Label.AppButtonClose
                </button>
            </div>
        </div>
    </Footer>
</Modal>
