<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <a class="btn btn-@Theme.Dark.ToString().ToLower() @("rounded"+_appSettings.Button)" id="dropdownMenuUser" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                @Label.AppGreeting @context.User.Identity?.Name &#x1F60A<i class="bi bi-chevron-down ps-2"></i>
            </a>
            <ul class="w-100 dropdown-menu dropdown-menu-lg-end border-@Theme.Light.ToString().ToLower()-subtle @("shadow"+_appSettings.Shadow)" aria-labelledby="dropdownMenuUser">
                <li class="px-2">
                    <a class="dropdown-item rounded" href="MicrosoftIdentity/Account/EditProfile">
                        <i class="bi bi-person pe-1"></i>@Label.AppAccount
                    </a>
                </li>
                <li class="px-2">
                    <NavLink class="dropdown-item rounded" href="@EndPoint.Settings" Match="NavLinkMatch.All">
                        <i class="bi bi-sliders pe-1"></i>@Label.AppMenuSetting
                    </NavLink>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="px-2">
                    <a class="dropdown-item rounded" href="MicrosoftIdentity/Account/SignOut">
                        <i class="bi bi-box-arrow-left pe-1"></i>@Label.AppLogout
                    </a>
                </li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>
