<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-@Theme.Dark.ToString().ToLower() border-0 @("rounded"+_appSettings.Button)" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill fs-6"></i> <span class="d-lg-none">@Label.AppProfile</span>
                @* @Label.AppGreeting @context.User.Identity?.Name &#x1F60A<i class="bi bi-chevron-down ps-2"></i> *@
            </button>
            <ul class="w-100 dropdown-menu dropdown-menu-lg-end px-4 bg-@Theme.Light.ToString().ToLower()-subtle border-@Theme.Light.ToString().ToLower() shadow-lg @("rounded"+_appSettings.Menu)" aria-labelledby="dropdownMenuUser">
                <li class="py-2">
                    <NavLink class="dropdown-item rounded" href="MicrosoftIdentity/Account/EditProfile">
                        <i class="bi bi-person pe-1"></i>@Label.AppAccount
                    </NavLink>
                </li>
                <li class="py-2">
                    <NavLink class="dropdown-item rounded" href="@EndPoint.Settings" Match="NavLinkMatch.All">
                        <i class="bi bi-sliders pe-1"></i>@Label.AppMenuSetting
                    </NavLink>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="py-2">
                    <NavLink class="dropdown-item rounded" href="MicrosoftIdentity/Account/SignOut">
                        <i class="bi bi-box-arrow-left pe-1"></i>@Label.AppLogout
                    </NavLink>
                </li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>
