@page "/setup/bank"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Breadcrumb
@using MainApp.Components.ListGroup
@using MainApp.Components.Badge
@using MainApp.Components.Dropdown
@using MainApp.Components.Spinner
@using MainApp.Components.Toast

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex flex-row">
                            <PageTopTitle Title="Bank" />
                            <sup>
                                <Badge BackgroundColor="@Theme.Success" Message="New" />
                            </sup>
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.SetupBank" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            @*TODO: split into Panel left and righ*@
                            <div class="col-sm-12 col-lg-8">
                                <CardView Styles="border-0">
                                    <CardMiddle>
                                        <div class="row flex-row-reverse justify-content-between pb-2">
                                            <div class="col-2 col-md-2 col-lg-2 d-flex justify-content-end pb-2">
                                                <DropdownActions IconColor="@Theme.Success">
                                                    <li class="px-2">
                                                        <button class="dropdown-item"
                                                                @onclick="() => AddRecordAsync()">
                                                            <i class="bi bi-plus-lg pe-1"></i>New Bank
                                                        </button>
                                                    </li>
                                                </DropdownActions>
                                            </div>
                                            <div class="col-10 col-md-8 col-lg-6 pb-2">
                                                <div class="row">
                                                    <div class="col-8 col-md-8">
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="Search here..."
                                                               aria-label="search"
                                                               @bind-value="_searchTerm"
                                                               @oninput="SearchTermAsync">

                                                    </div>
                                                    <div class="col-2">
                                                        <button class="btn btn-primary"
                                                                @onclick="() => SearchAsync()"
                                                                disabled="@(_searchButtonEnabled ? false : true)">
                                                            <i class="bi bi-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive app-page-responsive-height">
                                                    <table class="table table-hover">
                                                        <thead class="app-table-head-text">
                                                            <tr>
                                                                <th class="col-3">
                                                                    Description
                                                                </th>
                                                                <th class="col-3">
                                                                    Account
                                                                </th>
                                                                <th class="col text-end">
                                                                    Initial Balance
                                                                </th>
                                                                <th class="col text-end">
                                                                    Current Balance
                                                                </th>
                                                                <th class="col" colspan="3">
                                                                    Status
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (_isSearching)
                                                            {
                                                                foreach (var record in _searchResults)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @record.Description
                                                                        </td>
                                                                        <td>
                                                                            @record.Account
                                                                        </td>
                                                                        <td class="text-end text-secondary text-opacity-50">
                                                                            @record.InitialBalance.ToString("C")
                                                                        </td>
                                                                        <td class="text-end">
                                                                            @record.CurrentBalance.ToString("C")
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-check form-switch">
                                                                                @if (record.IsActive)
                                                                                {
                                                                                    <input class="form-check-input"
                                                                                           type="checkbox"
                                                                                           role="switch"
                                                                                           id="IsActive"
                                                                                           checked
                                                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input class="form-check-input"
                                                                                           type="checkbox"
                                                                                           role="switch"
                                                                                           id="IsActive"
                                                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button class="btn btn-link p-0 text-info"
                                                                                    type="button"
                                                                                    title="View details"
                                                                                    @onclick="() => ViewRecordAsync(record)">
                                                                                <i class="bi bi-eye-fill"></i>

                                                                            </button>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button class="btn btn-link p-0 text-danger"
                                                                                    type="button"
                                                                                    title="Edit"
                                                                                    @onclick="() => EditRecordAsync(record)">
                                                                                <i class="bi bi-pencil"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @if (_banks.Count <= 0)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center" colspan="7">
                                                                            <Spinner Size="Size.Sm" />
                                                                            <span>
                                                                                Loading...
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    foreach (var record in _banks)
                                                                    {

                                                                        <tr>
                                                                            <td>
                                                                                @record.Description
                                                                            </td>
                                                                            <td>
                                                                                @record.Account
                                                                            </td>
                                                                            <td class="text-end text-secondary text-opacity-50">
                                                                                @record.InitialBalance.ToString("C")
                                                                            </td>
                                                                            <td class="text-end">
                                                                                @record.CurrentBalance.ToString("C")
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-check form-switch">
                                                                                    @if (record.IsActive)
                                                                                    {
                                                                                        <input class="form-check-input"
                                                                                               type="checkbox"
                                                                                               role="switch"
                                                                                               id="IsActive"
                                                                                               checked
                                                                                               @onclick="() => UpdateStatusAsync(record)" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input class="form-check-input"
                                                                                               type="checkbox"
                                                                                               role="switch"
                                                                                               id="IsActive"
                                                                                               @onclick="() => UpdateStatusAsync(record)" />
                                                                                    }
                                                                                </div>
                                                                            </td>
                                                                            <td class="text-center">
                                                                                <button class="btn btn-link p-0 text-info"
                                                                                        type="button"
                                                                                        title="View details"
                                                                                        @onclick="() => ViewRecordAsync(record)">
                                                                                    <i class="bi bi-eye-fill"></i>

                                                                                </button>
                                                                            </td>
                                                                            <td class="text-center">
                                                                                <button class="btn btn-link p-0 text-danger"
                                                                                        type="button"
                                                                                        title="Edit"
                                                                                        @onclick="() => EditRecordAsync(record)">
                                                                                    <i class="bi bi-pencil"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }

                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-lg-4 d-none d-lg-block">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <div class="text-uppercase">
                                                    Chart
                                                    <sup>
                                                        <Badge BackgroundColor="@Theme.Warning" Message="Coming soon!" />
                                                    </sup>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-graph-up display-6 text-info"></i>
                                            </div>
                                        </div>
                                    </CardMiddle>
                                </CardView>

                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
            <SetupBankOffCanvas @ref="_setupBankOffCanvas" OnSubmitSuccess="RefreshList" />
            <Toast />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
