@using MainApp.Components.Badge
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.OffCanvas

@inject IJSRuntime JS

<OffCanvas @ref="_offCanvas" PositionX="Position.End" Title="@Label.AppSettingAppearance">
    <fieldset class="py-5">
        <legend><i class="bi bi-moon-stars-fill text-info-emphasis fs-5 pe-2"></i>@Label.AppSettingAppearanceMoveView</legend>
        <div class="row align-items-center">
            <div class="col-auto pe-0">
                <small class="text-secondary">
                    @Label.AppSettingAppearanceCurrentMoveView
                </small>
            </div>
            <div class="col-auto">
                <DropdownActions Title="@_localStorageTheme"
                                 ButtonSize="Size.Sm"
                                 IconEnd="bi-chevron-down"
                                 ButtonCssClass="@("rounded"+_appSettings.Button)"
                                 ButtonInnerStyles="d-flex justify-content-between">
                    <li class="p-1 rounded">
                        <button class="dropdown-item rounded"
                                @onclick="() => UpdateThemeAsync(ColorMode.Dark)">
                            @Label.AppSettingAppearanceMoveViewDark
                        </button>
                    </li>
                    <li class="p-1 rounded">
                        <button class="dropdown-item rounded"
                                @onclick="() => UpdateThemeAsync(ColorMode.Light)">
                            @Label.AppSettingAppearanceMoveViewLight
                        </button>
                    </li>
                </DropdownActions>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary w-100 @("rounded"+_appSettings.Button)"
                    @onclick="() => CloseOffCanvasAsync()">
                @Label.AppButtonClose
            </button>
        </div>
    </div>
</OffCanvas>
