<div class="dropdown @(IsDisplayLargeNone ? "d-lg-none" : "")">
    <button class="btn @("btn-" + ButtonSize.ToString().ToLower()) @("btn-" + ButtonColor.ToString().ToLower()) @(ButtonCssClass) text-nowrap @("rounded"+_appSettings.Button)"
            title="More actions"
            id="dropdownMenuOptions"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <div class="@ButtonInnerStyles">
            @if (IconStart.Length > 0)
            {
                <i class="bi @IconStart text-@IconStartColor.ToString().ToLower() pe-1"></i>
            }
            @if (Title.Length > 0)
            {
                <span class="pe-1">@Title</span>
            }
            @if (IconEnd.Length > 0)
            {
                <i class="bi @IconEnd"></i>
            }
        </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-@DropdownPosition.ToString().ToLower() border-0 bg-@ButtonColor.ToString().ToLower()-subtle shadow-sm"
        aria-labelledby="dropdownMenuOptions">
        @ChildContent
    </ul>
</div>
