@using MainApp.Components.Dropdown.DateRange
@using MainApp.Components.Loader
@using MainApp.Components.Shared

<SharedHeader Title="Purchase location"
                Icon="bi-map"
                IconColor="Theme.Info" />

<div class="row pb-3">
    <div class="col-12">
        <DropdownDateRange DropdownPosition="@Position"
                           DateTimeRange="@_dateTimeRange"
                           DropdownLabel="@_dropdownLabel"
                           PeriodRange="@PeriodRange"
                           OnSubmitSuccess="data => DropdownDateRangeRefresh(data)"
                           ButtonSize="Size.Sm" />
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        @if (_isLoading)
        {
            <Loader />
        }
        else
        {
            @if (_imageURL.Length > 0)
            {
                <img src="@_imageURL" class="img-fluid rounded" />
            }
            else
            {
                <div class="text-center p-4">
                    <i class="bi bi-card-image fs-2 text-@(Theme.Danger.ToString().ToLower())-emphasis"></i>
                    <div>
                        @Label.NoImageAvailable
                    </div>
                </div>
            }
        }
    </div>
</div>
