@using MainApp.Components.Badge
@using MainApp.Components.Modal
@using MainApp.Components.Dropdown.MultiSelect

<Modal @ref="_modal"
       Size="Size.Lg"
       ModalBodyStyle="vh-100"
       IsCloseButtonVisible="false">
    <Title>
        <span class="text-secondary">
            Apply filters
        </span>
    </Title>
    <Body>
        <div class="d-flex">
            <div class="d-flex me-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.FilterByVehicle"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-truck">
                    @foreach (var (vehicle, index) in _vehicles.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1 dropdown-item rounded">
                            <div class="form-check">
                                <input class="form-check-input" 
                                        type="checkbox"
                                        checked="@vehicle.IsChecked"
                                        id="@($"vehicle-{vehicle.Id}")"
                                        value="@(vehicle.Id)"
                                        @onchange="(e) => OnCheckboxChangedVehicle(e, vehicle.Id)" />
                                <label class="form-check-label" for="@($"vehicle-{vehicle.Id}")" title="@vehicle.Description">
                                    @($"{vehicle.Description}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
            </div>
            <div class="d-flex me-2">
                <DropdownMultiSelect ButtonSize="Size.Sm"
                                DropdownLabel="@Label.FilterByTripCategory"
                                DropdownPosition="Position.Start"
                                IconEnd="bi-chevron-down"
                                IconStart="bi-tag">
                    @foreach (var (tripCategory, index) in _tripCategoryDTOs.Select((value, index) => (value, index)))
                    {
                        <li class="px-2 py-1 dropdown-item rounded">
                            <div class="form-check">
                                <input class="form-check-input" 
                                        type="checkbox"
                                        checked="@tripCategory.IsChecked"
                                        id="@($"trip-category-{tripCategory.Id}")"
                                        value="@(tripCategory.Id)"
                                        @onchange="(e) => OnCheckboxChangedTripCategory(e, tripCategory.Id)" />
                                <label class="form-check-label" for="@($"trip-category-{tripCategory.Id}")" title="@tripCategory.Description">
                                    @($"{tripCategory.Description}")
                                </label>
                            </div>
                        </li>
                    }
                </DropdownMultiSelect>
            </div>
        </div>
    </Body>
    <Footer>
        <div class="row">
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    Close
                </button>
            </div>
        </div>
    </Footer>
</Modal>
