@using MainApp.Components.Modal
@using MainApp.Components.Dropdown.Filter

<Modal @ref="_modal"
       Size="Size.Lg"
       ModalBodyStyle="vh-100">
    <Title>
        <span class="text-secondary">
            Apply filters
        </span>
    </Title>
    <Body>
        <div class="row"> 
            <div class="col-auto">
                <div class="ps-2">
                    <DropdownFilter ButtonSize="Size.Sm"
                                    DropdownLabel="@_dropdownFilterLabelVehicle"
                                    DropdownPosition="Position.Start"
                                    IconEnd="bi-chevron-down"
                                    IconStart="bi-truck"
                                    Model="@_filterVehicleModel"
                                    OnSubmitSuccess="ResetDropdownFilterVehicle">
                        @foreach (var (vehicle, index) in _vehicles.Select((value, index) => (value, index)))
                        {
                            <li class="px-2">
                                <button class="dropdown-item rounded"
                                        title="@vehicle.Description"
                                        @onclick="() => RefreshDropdownFilterVehicle(vehicle.Id)">
                                    @($"{vehicle.Description}")
                                </button>
                            </li>
                        }
                    </DropdownFilter>
                </div>
            </div>
            <div class="col-auto">
                <div class="ps-2">
                    <DropdownFilter ButtonSize="Size.Sm"
                                    DropdownLabel="@_dropdownFilterLabelTripCategory"
                                    DropdownPosition="Position.Start"
                                    IconEnd="bi-chevron-down"
                                    IconStart="bi-tag"
                                    Model="@_filterTripCategoryModel"
                                    OnSubmitSuccess="ResetDropdownFilterTripCategory">
                       @foreach (var (tripCategory, index) in _tripCategoryDTOs.Select((value, index) => (value, index)))
                        {
                            if (index > 0)
                            {
                                <li class="px-2">
                                    <button class="dropdown-item rounded"
                                            title="@tripCategory.Description"
                                            @onclick="() => RefreshDropdownFilterTripCategory(tripCategory.Id)">
                                        @($"{tripCategory.Description}")
                                    </button>
                                </li>
                            }
                        }
                    </DropdownFilter>
                </div>
            </div>
        </div> 
    </Body>
    <Footer>
        <div class="row">
            <div class="col-auto">
                <button type="button"
                        class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    Close
                </button>
            </div>
        </div>
    </Footer>
</Modal>
