@using MainApp.Components.Badge.Color
@using MainApp.Components.Card
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.Spinner
@using MainApp.Components.Toast

<CardView Styles="border-0">
    <CardMiddle>
        <div class="row flex-row-reverse justify-content-between pb-2">
            <div class="col-2 col-md-2 col-lg-2 d-flex justify-content-end pb-2">
                <DropdownActions ButtonColor="Theme.Primary"
                                 DropdownPosition="Position.End">
                    <li class="px-2">
                        <button class="dropdown-item text-@(Theme.Primary.ToString().ToLower())-emphasis"
                                @onclick="() => AddRecordAsync()">
                            <i class="bi bi-plus-lg pe-1"></i>New Expense
                        </button>
                    </li>
                </DropdownActions>
            </div>
            <div class="col-10 col-md-8 col-lg-6 pb-2">
                <div class="row">
                    <div class="col-8 col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder="Search here..."
                               aria-label="search"
                               @bind-value="_searchTerm"
                               @oninput="SearchTermAsync">

                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary"
                                @onclick="() => SearchAsync()"
                                disabled="@(_searchButtonEnabled ? false : true)">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive app-page-responsive-height">
                    <table class="table table-hover">
                        <thead class="app-table-head-vertical-align-top">
                            <tr>
                                <th class="col-10">
                                    Description
                                </th>
                                <th class="col" colspan="3">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_isSearching)
                            {
                                foreach (var record in _searchResults)
                                {
                                    <tr class="@(record.IsActive == false ? "text-secondary text-opacity-25" : "" )">
                                        <td>
                                            <BadgeColor RGBColor="@record.Color"
                                                        Description="@record.Description" />
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                @if (record.IsActive)
                                                {
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           role="switch"
                                                           id="IsActive"
                                                           checked
                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                }
                                                else
                                                {
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           role="switch"
                                                           id="IsActive"
                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                }
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-link p-0 text-info"
                                                    type="button"
                                                    title="View details"
                                                    @onclick="() => ViewRecordAsync(record)">
                                                <i class="bi bi-eye-fill"></i>

                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-link p-0 text-danger"
                                                    type="button"
                                                    title="Edit"
                                                    @onclick="() => EditRecordAsync(record)">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @if (_isLoading)
                                {
                                    <tr>
                                        <td class="text-center" colspan="4">
                                            <div>
                                                <Spinner Size="Size.Sm" />
                                                <span>
                                                    Loading ...
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @if (_expenseCategories.Count <= 0)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="4">
                                                <div>
                                                    Not record found!
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var record in _expenseCategories)
                                        {
                                            <tr class="@(record.IsActive == false ? "text-secondary text-opacity-25" : "" )">
                                                <td>
                                                    <BadgeColor RGBColor="@record.Color"
                                                                Description="@record.Description" />
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        @if (record.IsActive)
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   checked
                                                                   @onclick="() => UpdateStatusAsync(record)" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   @onclick="() => UpdateStatusAsync(record)" />
                                                        }
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-link p-0 text-info"
                                                            type="button"
                                                            title="View details"
                                                            @onclick="() => ViewRecordAsync(record)">
                                                        <i class="bi bi-eye-fill"></i>

                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-link p-0 text-danger"
                                                            type="button"
                                                            title="Edit"
                                                            @onclick="() => EditRecordAsync(record)">
                                                        <i class="bi bi-pencil"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
<SetupExpenseCategoryOffCanvas @ref="_setupOffCanvas" OnSubmitSuccess="RefreshList" DataModel="_expenseCategoryModel" />
<Toast />
