@using MainApp.Components.Card
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.Loader

<CardView Styles="border-0">
    <CardMiddle>
        <div class="row flex-row-reverse justify-content-between pb-2">
            <div class="col-2 col-lg-3 pb-2 d-flex justify-content-end">
                <div class="d-none d-lg-block">
                    <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-@(Theme.Primary.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                            @onclick="() => AddRecordAsync()">
                        <i class="bi bi-plus-lg pe-1"></i>New Vehicle
                    </button>
                </div>
                <div class="d-block d-lg-none">
                    <DropdownActions DropdownPosition="Position.End"
                                     ButtonSize="Size.Sm">
                        <li class="px-2 d-block d-lg-none">
                            <button class="dropdown-item text-@(Theme.Primary.ToString().ToLower())-emphasis rounded"
                                    @onclick="() => AddRecordAsync()">
                                <i class="bi bi-plus-lg pe-1"></i>New Vehicle
                            </button>
                        </li>
                    </DropdownActions>
                </div>
            </div>
            <div class="col-10 col-lg-9 pb-2">
                <div class="row">
                    <div class="col-8 col-md-8">
                        <input type="text"
                               class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                               placeholder="Search here..."
                               aria-label="search"
                               @bind-value="_searchTerm"
                               @oninput="SearchTermAsync">

                    </div>
                    <div class="col-2">
                        <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-primary @("rounded"+_appSettings.Button)"
                                @onclick="() => SearchAsync()"
                                disabled="@(_searchButtonEnabled ? false : true)">
                            <span class="d-md-none">
                                <i class="bi bi-search"></i>
                            </span>
                            <span class="d-none d-md-block">
                                Search
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive app-page-responsive-height">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-3">
                                    Description
                                </th>
                                <th class="col-3">
                                    Carmaker
                                </th>
                                <th class="col-1">
                                    Year
                                </th>
                                <th class="col-3">
                                    Plate
                                </th>
                                <th class="col" colspan="3">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_isSearching)
                            {
                                foreach (var record in _searchResults)
                                {
                                    <tr class="@(record.IsActive == false ? "text-secondary text-opacity-25" : "" )">
                                        <td>
                                            @record.Description
                                        </td>
                                        <td>
                                            @record.Carmaker
                                        </td>
                                        <td>
                                            @record.Year
                                        </td>
                                        <td>
                                            @record.Plate
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                @if (record.IsActive)
                                                {
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           role="switch"
                                                           id="IsActive-@(record.Id)"
                                                           checked
                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                }
                                                else
                                                {
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           role="switch"
                                                           id="IsActive-@(record.Id)"
                                                           @onclick="() => UpdateStatusAsync(record)" />
                                                }
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-link p-0 text-info"
                                                    type="button"
                                                    title="View details"
                                                    @onclick="() => ViewRecordAsync(record)">
                                                <i class="bi bi-eye-fill"></i>

                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-link p-0 text-danger"
                                                    type="button"
                                                    title="Edit"
                                                    @onclick="() => EditRecordAsync(record)">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @if (_isLoading)
                                {
                                    <tr>
                                        <td class="text-center" colspan="7">
                                            <Loader />
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @if (_vehicles.Count <= 0)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="7">
                                                <div>
                                                    @Label.NoRecordFound
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var record in _vehicles)
                                        {
                                            <tr class="@(record.IsActive == false ? "text-secondary text-opacity-25" : "" )">
                                                <td>
                                                    @record.Description
                                                </td>
                                                <td>
                                                    @record.Carmaker
                                                </td>
                                                <td>
                                                    @record.Year
                                                </td>
                                                <td>
                                                    @record.Plate
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        @if (record.IsActive)
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive-@(record.Id)"
                                                                   checked
                                                                   @onclick="() => UpdateStatusAsync(record)" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive-@(record.Id)"
                                                                   @onclick="() => UpdateStatusAsync(record)" />
                                                        }
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-link p-0 text-info"
                                                            type="button"
                                                            title="View details"
                                                            @onclick="() => ViewRecordAsync(record)">
                                                        <i class="bi bi-eye-fill"></i>

                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-link p-0 text-danger"
                                                            type="button"
                                                            title="Edit"
                                                            @onclick="() => EditRecordAsync(record)">
                                                        <i class="bi bi-pencil"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
@if (_isLoading is false)
{
    <SetupVehicleOffCanvas @ref="_setupOffCanvas" OnSubmitSuccess="RefreshList" DataModel="_vehicleModel" AppSettings="_appSettings" />
}
