@using MainApp.Components.OffCanvas
@using MainApp.Components.Dropdown.Actions
@using MainApp.Components.Badge

<OffCanvas @ref="_offCanvasService.OffCanvas" PositionX="Position.End">
    <EditForm Model="@_vehicleModel"
              OnValidSubmit="@HandleValidSubmitAsync"
              OnInvalidSubmit="@HandleInvalidSubmitAsync"
              autocomplete="off">
        <ObjectGraphDataAnnotationsValidator />
        <div class="row align-items-center">
            <div class="col my-4">
                <Badge BackgroundColor="@_offCanvasService.GetOffCanvasBadge()" Message="@($"{_offCanvasService.GetOffCanvasViewType()}ing...")" />
            </div>
            @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                   _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
            {
                <div class="col my-4 d-flex justify-content-end">
                    <DropdownActions>
                        <li class="px-2">
                            <button class="dropdown-item"
                                    @onclick="ArchiveAsync">
                                <i class="bi bi-archive pe-1"></i>Archive
                            </button>
                        </li>
                    </DropdownActions>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <InputText class="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                        _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? "form-control-plaintext" : "form-control")"
                               id="VehicleDescription"
                               placeholder="Description"
                               readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                           _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? true: false)"
                               @bind-Value="_vehicleModel.Description" />
                    <label for="VehicleDescription">Description</label>
                </div>
                <div class="form-floating mb-3">
                    <InputText class="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                        _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? "form-control-plaintext" : "form-control")"
                               id="VehiclePlate"
                               placeholder="Plate"
                               readonly="@((_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View ||
                                           _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Archive) ? true: false)"
                               @bind-Value="_vehicleModel.Plate" />
                    <label for="VehiclePlate">Plate</label>
                </div>
            </div>
        </div>
        @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
        {
            <div class="row">
                <div class="col-12 d-flex align-items-start">
                    <div class="form-check form-switch form-check-reverse">
                        <label class="form-check-label" for="IsActive">Active?</label>
                        <InputCheckbox class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       id="IsActive"
                                       @bind-Value="_vehicleModel.IsActive" />
                    </div>
                </div>
            </div>
        }
        <div class="py-2">
            <hr />
        </div>
        @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Add || _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
        {
            @if (_displayErrorMessages)
            {
                <div class="row">
                    <div class="col-12">
                        <ValidationSummary />
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-secondary w-100"
                        @onclick="() => CloseOffCanvasAsync()">
                    Cancel
                </button>
            </div>
            @if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Add || _offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.Edit)
            {
                <div class="col-6">
                    <button class="btn btn-success w-100"
                            disabled="@(_isProcessing ? true : false)"
                            type="submit">
                        @(_isProcessing ? "Saving..." : "Save")
                    </button>
                </div>
            }
            else if (_offCanvasService.GetOffCanvasViewType() == OffCanvasViewType.View)
            {
                <div class="col-6">
                    <button class="btn btn-primary w-100"
                            type="button"
                            @onclick="UpdateFormStateAsync">
                        Edit
                    </button>
                </div>
            }
        </div>
    </EditForm>
</OffCanvas>
