<div class="btn-group btn-outline-@(ButtonColor.ToString().ToLower()) border border-@(Theme.Light.ToString().ToLower())-subtle @("rounded"+_appSettings.Button) @("shadow"+_appSettings.Shadow)" role="group">
    <div class="dropdown @(IsDisplayLargeNone ? "d-lg-none" : "")">
        <button class="btn @("btn-" + ButtonSize.ToString().ToLower()) @("btn-outline-" + ButtonColor.ToString().ToLower() ) border-0 text-nowrap @("rounded"+_appSettings.Button)"
                title="Click dropdown to expand"
                id="dropdownMultiSelect"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-auto-close="@(AutoClose.ToString().ToLower())">
            <div class="d-flex w-100 justify-content-between">
                @if (IconStart is not null && IconStart.Length > 0)
                {
                    <i class="bi @IconStart pe-1"></i>
                }
                @if (DropdownLabel is not null && DropdownLabel.Length > 0)
                {
                    <span class="pe-1">@DropdownLabel</span>
                }
                @if (IconEnd.Length > 0)
                {
                    <i class="bi @IconEnd"></i>
                }
            </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-@DropdownPosition.ToString().ToLower()
                    bg-@ButtonColor.ToString().ToLower()-subtle
                    border-@ButtonColor.ToString().ToLower()-subtle
                    app-dropdown-filter
                    overflow-y-scroll
                    shadow-sm
                    w-100"
            aria-labelledby="dropdownMultiSelect">
            @ChildContent
        </ul>
    </div>
</div>
