@page "/tools"

@using MainApp.Components.Page
@using MainApp.Components.Badge
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Shared

<div class="container-fluid px-0">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <div class="container-lg">
                        <PageTopWrapper>
                            <div class="d-flex align-items-baseline">
                                <i class="bi bi-boxes text-info-emphasis pe-1 fs-5" /><PageTopTitle Title="Tools" />
                            </div>
                        </PageTopWrapper>
                    </div>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="container-lg pb-5">
                            <div class="row gy-5">
                                <div class="col-sm-12">
                                    <CardView Styles="w-100 border-0 shadow">
                                        <CardMiddle>
                                            <SharedHeader 
                                                Title="Random numbers"
                                                Icon="bi bi-shuffle"
                                                IconColor="Theme.Info" />
                                            <p class="text-center fw-light py-3 fs-5">
                                                Generate random numbers from a giving range set of numbers.
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-5">
                                                    <div class="row pb-3">
                                                        <div class="col">
                                                            <div class="form-floating">
                                                                <input type="number" 
                                                                    id="StartRange"
                                                                    class="form-control form-control-@(Size.Lg.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                                                                    min="1"
                                                                    placeholder="Min"
                                                                    @bind-value="_randonNumberMin" />
                                                                <label for="StartRange">Min</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto d-flex align-items-center"> - </div>
                                                        <div class="col">
                                                            <div class="form-floating">
                                                                <input type="number"
                                                                    id="EndRange"
                                                                    class="form-control form-control-@(Size.Lg.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                                                                    min="1"
                                                                    placeholder="Max"
                                                                    @bind-value="_randonNumberMax" />
                                                                <label for="EndRange">Max</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex align-items-center pb-5">
                                                        <div class="col-12">
                                                            <button class="btn btn-@(Size.Lg.ToString().ToLower()) bg-primary-subtle text-primary-emphasis w-100 @("rounded"+_appSettings.Button)"
                                                                    type="button"
                                                                    disabled="@(_isProcessing ? true : false)"
                                                                    @onclick="GenerateAsync">
                                                                @(_isProcessing ? "Generating..." : "Generate")
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-flex justify-content-center">
                                                    <div class="vr d-none d-lg-flex h-100 mx-lg-0"></div>
                                                </div>
                                                <div class="col-sm-12 col-lg-5">
                                                    <div class="row d-flex align-items-center pb-3">
                                                        <div class="col-12">
                                                            <p class="fw-light pb-3 fs-5">Results:</p>
                                                            @foreach (var (item, index) in _randomNumbers.Select((value, index) => (value, index)))
                                                            {
                                                                <span class="btn btn-@(Size.Md.ToString().ToLower()) bg-success-subtle text-success-emphasis me-1 mb-2 @("rounded"+_appSettings.Button)">
                                                                    @item
                                                                    <sup class="fw-light">
                                                                        <Badge BackgroundColor="Theme.Warning" Message="@((index + 1).ToString())" />
                                                                    </sup>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </CardMiddle>
                                    </CardView>
                                </div>
                                <div class="col-12 col-lg-4"></div>
                            </div>

                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
