<div class="btn-group btn-outline-@(ButtonColor.ToString().ToLower()) border-@(Theme.Light.ToString().ToLower())-subtle  @("rounded"+_appSettings.Button) @("shadow"+_appSettings.Shadow)" role="group">
    <div class="dropdown">
        <button class="btn @("btn-" + ButtonSize.ToString().ToLower()) @("btn-outline-" + ButtonColor.ToString().ToLower() ) border-@(Theme.Light.ToString().ToLower())-subtle text-nowrap @("rounded"+_appSettings.Button)"
                title="Change date range"
                id="dropdownDateRange"
                data-bs-toggle="dropdown"
                data-bs-auto-close="inside"
                aria-expanded="false">
            <i class="bi bi-calendar3"></i>
            <span class="pe-1">@DropdownLabel</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-@DropdownPosition.ToString().ToLower() border-@Theme.Light.ToString().ToLower()-subtle bg-@Theme.Light.ToString().ToLower()-subtle @("shadow"+_appSettings.Shadow) ps-2"
            aria-labelledby="dropdownDateRange">
            <li class="d-flex pe-2 gap-2">
                <input class="form-control form-control-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Form)"
                       id="Start"
                       type="month"
                       placeholder="Month / Year"
                       @bind-value="DateTimeRange.Start" />
                <button type="submit"
                        class="btn btn-primary btn-@(Size.Sm.ToString().ToLower()) @("rounded"+_appSettings.Button)"
                        title="Confirm"
                        @onclick="ChangeDateAsync">
                    <i class="bi bi-check-lg"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
